*.zip
<import>
*.tar
<import>
*.gz
<import>
*.bz2
<import>
*.7z
<import>
*.rar
<import>
*.tar.gz
<import>
*.tar.bz2
<import>
*.tar.7z
<import>
*.tar.rar
<import>
*.tar.zip
<import>
*.tar.gz.zip
<import>
*.tar.gz.bz2